---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import {
  getDailyYenAmount,
  getYenByName,
  getTopVideos,
  getTopChannels,
  getRecentVideos,
  getSuperchatCount,
  getUniqueVideoCount,
} from "../lib/supabase";
import { channelIdToNameMap } from "../lib/streamers";
import SummaryTable from "../components/SummaryTable.astro";
import TopDonors from "../components/TopDonors.astro";
import TabVideo from "../components/TabVideo.astro";
import { formatNumberCompact } from "../lib/formatters";

const dailyYenAmounts = await getDailyYenAmount();
const plotlyXData = dailyYenAmounts.map(obj => obj.sale_date);
const plotlyYData = dailyYenAmounts.map(obj => obj.total_yen);
const yenByName = await getYenByName()
const topVideos = await getTopVideos();

const topChannels = await getTopChannels();
const recentVideos = await getRecentVideos();

const superchatCount = await getSuperchatCount()
const videoCount = await getUniqueVideoCount()
---

<Layout title="holoboard">
  <div class="space-y-4">
    <SummaryTable
      data={[
        {
          text: formatNumberCompact(
            plotlyYData.reduce(
              (accumulator: number, currentValue: number) => accumulator + currentValue,
              0
            )
          ),
          label: "Total",
        },
        { text: videoCount.toLocaleString(), label: "Streams" },
        { text: superchatCount.toLocaleString(), label: "Superchats" },
      ]}
    />
    <div class="flex flex-wrap lg:flex-nowrap gap-4 justify-center items-center">
      <div class="w-full lg:w-[70%] h-80 ">
        <div id="dailyYenChart"></div>
      </div>
      <div class="w-full lg:w-[30%] flex flex-col gap-4">
        <Card>
          <TopDonors
            data={topChannels.map((obj) => ({
              key: channelIdToNameMap[obj.channel_id],
              yen: obj.total_yen,
              url: `/channel/${obj.channel_id}`,
            }))}
            title="Top Channels"
          />
        </Card>
      </div>
    </div>
    <div class="flex flex-wrap lg:flex-nowrap gap-4">
      <div class="w-full lg:w-[70%]">
        <Card>
          <TabVideo
            topVideos={topVideos}
            recentVideos={recentVideos.map((obj) => ({
              video_id: obj.id,
              video_title: obj.title,
              video_timestamp: obj.video_timestamp,
              total_yen: obj.total_yen,
            }))}
            loading="lazy"
          />
        </Card>
      </div>
      <div class="w-full lg:w-[30%] flex flex-col gap-4">
        <Card>
          <TopDonors
            data={yenByName.map((obj) => ({
              key: obj.chat_name,
              yen: obj.total_yen,
            }))}
            title="Top Donors"
          />
        </Card>
      </div>
    </div>
  </div>
  <script src="https://cdn.plot.ly/plotly-3.2.0.min.js" charset="utf-8"
  ></script>

  <script is:inline define:vars={{ plotlyXData, plotlyYData }}>
    window.addEventListener("load", function () {
      const trace1 = {
        x: plotlyXData,
        y: plotlyYData,
        type: "bar",
        mode: "lines",
        line: {
          color: "#3380FF",
          shape: "linear",
        },
        fill: "tozeroy",
        fillcolor: "rgba(51, 128, 255, 0.2)",
        marker: {
          color: "#3380FF",
          size: 3,
        },
      };

      const layout = {
        autosize: true,
        height: 320,
        margin: { t: 20, r: 20, b: 20, l: 60 },
        showlegend: false,
        paper_bgcolor: "transparent",
        plot_bgcolor: "transparent",
        yaxis: {
          rangemode: "nonnegative",
          tickfont: {
            color: "#AAAAAA",
          },
          tickprefix: "¥",
          showgrid: false,
          zeroline: false,
          tickformat: ".2s",
        },
        xaxis: {
          type: "date",
          tickfont: {
            color: "#AAAAAA",
          },
          nticks: 4,
          showgrid: false,
          zeroline: false,
          tickformat: "%Y-%m-%d",
        },
        hoverlabel: {
          bgcolor: "#424549",
          font: {
            color: "#E0E0E0",
          },
          bordercolor: "#818385",
        },
      };

      const config = {
        responsive: true,
        displayModeBar: false,
      };

      Plotly.newPlot("dailyYenChart", [trace1], layout, config);
    });
  </script>
</Layout>
