---
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import { STREAMER_DATA } from "../../lib/streamers";
import Layout from "../../layouts/Layout.astro";
import {
  getChannelSuperchatSummary,
  getChannelSuperchatTopDonor,
  getChannelMetrics,
} from "../../lib/supabase";
import Card from "../../components/Card.astro";
import TabVideo from "../../components/TabVideo.astro";
import TopDonors from "../../components/TopDonors.astro";
import SummaryTable from "../../components/SummaryTable.astro";
import { yenFormatter } from "../../lib/formatters";

export const getStaticPaths = (async () => {
  const allStreamers = STREAMER_DATA.flatMap((generation) => {
    return generation.streamers.map((streamer) => {
      const parts = streamer.url.split("/");
      const channelId = parts[parts.length - 1];

      return {
        params: { channel_id: channelId },
        props: streamer,
      };
    });
  });
  return allStreamers;
}) satisfies GetStaticPaths;

type PageProps = InferGetStaticPropsType<typeof getStaticPaths>;
const streamer: PageProps = Astro.props;

const channelId = streamer.url.split("/").pop() as string;
const topDonor = await getChannelSuperchatTopDonor(channelId);
const data = await getChannelSuperchatSummary(channelId);
const { totalYen, avgYenPerSC, avgYenPerStream } =
  await getChannelMetrics(channelId);
---

<Layout title={streamer.name}>
  <div class="space-y-4">
    <SummaryTable
      data={[
        { text: yenFormatter.format(totalYen), label: "Total" },
        { text: yenFormatter.format(avgYenPerSC), label: "Avg SC" },
        { text: yenFormatter.format(avgYenPerStream), label: "Avg Stream" },
      ]}
    />
    <div class="flex flex-wrap lg:flex-nowrap gap-4">
      <div class="w-full lg:w-[70%]">
        <Card>
          <TabVideo
            topVideos={data}
            recentVideos={[...data].sort((a, b) =>
              b.video_timestamp.localeCompare(a.video_timestamp)
            )}
            loading="eager"
          />
        </Card>
      </div>
      <div class="w-full lg:w-[30%] flex flex-col gap-4">
        <Card>
          <TopDonors
            data={topDonor.map((obj) => ({
              key: obj.donor_name,
              yen: obj.total_yen,
            }))}
            title="Top Donors"
          />
        </Card>
      </div>
    </div>
  </div>
</Layout>
