---
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import { channelIdToNameMap } from "../../lib/streamers";
import Layout from "../../layouts/Layout.astro";
import {
  getAllVideoIds,
  getVideoCache
} from "../../lib/supabase";
import Title from "../../components/Title.astro";
import Card from "../../components/Card.astro";
import TopDonors from "../../components/TopDonors.astro";
import SummaryTable from "../../components/SummaryTable.astro";
import SuperchatTable from "../../components/SuperchatTable.astro";
import { yenFormatter } from "../../lib/formatters";

export const getStaticPaths = (async () => {
  const data = await getAllVideoIds();
  return (data || []).map((video) => ({
    params: { video_id: video.id },
  }));
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const videoId = Astro.params.video_id;
const data = await getVideoCache(videoId);
const {
  timestamp,
  title,
  channel_id: channelId,
} = data.metadata;
const { totalYen, scCount } = data.metrics;
const superchats = data.superchats;
const topDonors = data.top_donors;
const cumSums = data.timeseries;

const average_yen = scCount > 0 ? totalYen / scCount : 0;
const formattedTotalYen = yenFormatter.format(totalYen);
const formattedAverageYen = yenFormatter.format(average_yen);


const chartTimeSeries: { x: string; y: number }[] = [];

[
  { minute_timestamp: cumSums[0]?.minute_timestamp || 0, cumulative_yen: 0 },
  ...cumSums,
].forEach((row) => {
  chartTimeSeries.push({
    x: row.minute_timestamp,
    y: row.cumulative_yen,
  });
});

const plotlyXData = chartTimeSeries.map((item) => item.x);
const plotlyYData = chartTimeSeries.map((item) => item.y);
---

<Layout title={channelIdToNameMap[channelId]}>
  <div class="flex flex-col gap-1">
    <h2 class="text-lg font-bold">{title}</h2>
    <p class="text-xs text-gray-400">
      {
        new Date(timestamp).toLocaleDateString("en-US", {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }
    </p>
  </div>
  <div class="space-y-4">
    <SummaryTable
      data={[
        { text: formattedTotalYen, label: "Total Yen" },
        { text: scCount.toLocaleString(), label: "Total SCs" },
        { text: formattedAverageYen, label: "Average SC" },
      ]}
    />
    <div class="flex flex-wrap lg:flex-nowrap gap-4">
      <div class="w-full lg:w-[70%] h-80">
        <div id="cumulativeYenChart"></div>
      </div>
      <div class="w-full lg:w-[30%] flex flex-col gap-4">
        <Card>
          <TopDonors
            data={topDonors.map((obj) => ({
              key: obj.donor_name,
              yen: obj.total_yen,
            }))}
            title="Top Donors"
          />
        </Card>
      </div>
    </div>
    <Card>
      <Title>Superchats</Title>
      <div
        class="h-96 overflow-y-auto scrollbar-hide scrollbar-hide::-webkit-scrollbar"
      >
        <SuperchatTable superchats={superchats} />
      </div>
    </Card>
  </div>
</Layout>

<script src="https://cdn.plot.ly/plotly-3.2.0.min.js" charset="utf-8"></script>

<script define:vars={{ plotlyXData, plotlyYData }}>
  window.addEventListener("load", function () {
    const trace1 = {
      x: plotlyXData,
      y: plotlyYData,
      type: "scatter",
      mode: "lines",
      line: {
        color: "#3380FF",
        shape: "linear",
      },
      fill: "tozeroy",
      fillcolor: "rgba(51, 128, 255, 0.2)",
      marker: {
        color: "#3380FF",
        size: 3,
      },
    };

    const layout = {
      autosize: true,
      height: 320,
      margin: { t: 20, r: 20, b: 20, l: 60 },
      showlegend: false,
      paper_bgcolor: "transparent",
      plot_bgcolor: "transparent",
      yaxis: {
        rangemode: "tozero",
        tickfont: {
          color: "#AAAAAA",
        },
        tickprefix: "¥",
        showgrid: false,
        zeroline: false,
        tickformat: ",",
      },
      xaxis: {
        type: "date",
        tickfont: {
          color: "#AAAAAA",
        },
        nticks: 5,
        showgrid: false,
        zeroline: false,
        tickformat: "%H:%M",
      },
      hoverlabel: {
        bgcolor: "#424549",
        font: {
          color: "#E0E0E0",
        },
        bordercolor: "#818385",
      },
    };

    const config = {
      responsive: true,
      displayModeBar: false,
    };

    Plotly.newPlot("cumulativeYenChart", [trace1], layout, config);
  });
</script>
